
.navbar-brand img {
    width: 130px; height: 130px;

}
.navbar-nav ul {
    align-items: center;
}
.navbar-nav li a {
    color: white !important;
    margin: 0 20px;
    text-align: center;
    font-size: 19px;
}
.navbar-nav li a:hover {
    transform: translateY(2px);
    font-size: 20px;
    border-bottom: solid 1px white;
    transition: 0.9s;
    color: #d43939 !important;
}
.brandName {
    width: 800px; height: 100px;
}
#searchBar {
    background-color: rgb(206, 203, 203);
}
#searchBar:hover {
    background-color: white;
}
.fa-cart-arrow-down {
    font-size: 28px;
}
.carousel-item h1 {
    font-size: 50px;
    -webkit-text-stroke: 1px #811919;
   color: white;
   text-shadow:
       3px 3px 0 #811919,
     -1px -1px 0 #811919,  
      1px -1px 0 #811919,
      -1px 1px 0 #811919,
       1px 1px 0 #811919;
}
.carousel-item img {
    width: fit-content;
}
.car-3 h1{
    margin-top: 50px;
}
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyNow {
    position: absolute;
    font-size: 60px;
    z-index: 100;
    bottom: 50px; right: 100px;
    text-decoration: none;
    color: white;
    border-bottom: solid 2px white;
    font-family: "Russo One", sans-serif;
    margin: 0; padding: 0;
}
.buyNow:hover {
    font-size: 62px;
    transform: translateY(5px);
    border: solid 5px white;
    transition: 0.5s;
    color: #811919;
}
.buyHeading {
    position: absolute; z-index: 100;
    color: white;
    /* top: 30%;
    left: 25%; */
    font-size: 200px;
    -webkit-text-stroke: 1px #811919;
    text-shadow:
        3px 3px 0 #811919,
        -1px -1px 0 #811919,  
        1px -1px 0 #811919,
        -1px 1px 0 #811919,
        1px 1px 0 #811919;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}
/* SECOND LANDING PAGE */
.second-bg {
    margin: auto;
    text-align: center;
}
.second-bg h2 {
    font-size: 100px;
    font-weight: bold;
}
.second-bg a {
    text-decoration: none;
    color: black;
}
.second-bg p {
    font-size: 25px;
}
/* THIRD LANDING PAGE */
.third {
    overflow: hidden;
    box-sizing: border-box;
}
.features div {
    position: relative;
}
.features {
    overflow: hidden !important;
}
.features .features-message {
    position: absolute;
    bottom: 0; left: 0;
    color: white;
    padding-left: 20px;
    font-size: 40px;
}
/* bottom part carousel */
/* body {
    background: linear-gradient(-90deg, white 50%, #811919 50%);
} */
.img-text {
    width: 100%;
    display: block;
    text-align: center;
    background: #262626;
    color: #fff;
    border-radius: 15px;
    align-items: center;
}
.img-text h2 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.img-area {
    height: 250px;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.img-area img {
    width: 300px;
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.box-img {
    padding: auto; margin: auto;
    padding-left: 100px;
}
.car-indi1 button {
    background-color: #d43939 !important;
}
.car-indi2 button {
    background-color: black !important;
}
.stefan {
    object-fit: cover;
    margin-bottom: 5px;
}
/* footer */
footer {
    background-color: #111111 !important;
}
.logo-footer {
    width: 50px; height: 50px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    border-bottom: solid 1px white;
}
.col-2nd {
    padding-left: 20px;
}
footer li {
    font-size: 12px;
    padding: 5px;
    padding-left: 0px !important;
}

/* MEN HTML CSS
-
-
*/
.men-shoes img{
    width: 300px;
    height: 200px;
    margin: auto;
}
.mens-button {
    margin-left: 39%;
}
.card {
    margin: 0; padding: 0;
}
.card-title {
    text-align: center;
}
.card-subtitle {
    text-align: center;
}
/* MODAL MEN */
#exampleModal1 img {
    border-radius: 30px;
}
.row-sizes .col-md-3 {
    text-align: center;
}
.row-sizes label input[type="checkbox"] {
    display: none;
}
.modal-fullscreen .btn-light {
    width: 100%;
}
.row-sizes label {
    cursor: pointer;
}
.row-sizes label span {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: #262626;
    padding: 15px 30px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    border-radius: 15px;
    font-size: 20px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
    border: solid 1px black;
}
.row-sizes label span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, .1);
}
.row-sizes label input[type="checkbox"]:checked ~ span {
    background: #4d4b4b;
    border: solid 2px rgb(131, 126, 126);
    color: white;
}
/* COPY INDEX FOR CART */
.fa-exclamation {
    position: absolute;
    color: red;
    border-radius: 10px;
    z-index: 100;
    top: 35px;
    right: 45px;
}

/* Default css */
h1 , h2, h3, h4{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Poppins", sans-serif;
}
li {
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
/* media query */
@media screen and (max-width: 1194px){
    .buyHeading {
        font-size: 130px;
    }
    .buyNow {
        font-size: 40px;
    }
}
@media screen and (max-width: 1110px){
    .buyHeading {
        font-size: 120px;
    }
    .buyNow {
        font-size: 30px;
    }
}
@media screen and (max-width: 780px){
    .buyHeading {
        font-size: 90px;
    }
    .buyNow {
        font-size: 25px;
    }
}
@media screen and (max-width: 558px){
    .buyHeading {
        font-size: 60px;
    }
    .buyNow {
        font-size: 30px;
        right: 10px;
    }
}
@media screen and (max-width: 767px){
    footer ul li {
        display: none;
    }
    footer ul {
        display: none;
    }
    .col-footer {
        display: none;
    }
}